{% macro render_entry(entry, current_user) %}
{% if entry == None %}
    <div class="col-md-10">
        <h1>No entry with that ID</h1>
    </div>
{% else %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        {{ entry.author.name }}
        <ul class="list-unstyled">
            <li>
                {{ entry.datetime | dateformat("%d/%m/%y") }}
            </li>
            {% if current_user.id == entry.author.id %}
            <li><a href={{ url_for("edit_entry_get", id = entry.id) }}>Edit</a></li>
            <li><a href={{ url_for("delete_entry_get", id = entry.id) }}>Delete</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <a href= {{ url_for("go_to_entry", id = entry.id) }} >
                {{ entry.title }}
                
            </a>
        </h1>
        {{ entry.content | markdown }}
    </div>
</div>
{% endif %}
{% endmacro %}
